@model SomeProject.Models.Note

@{
    ViewBag.Title = "Add_Note";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <h4> <strong>Add new note:</strong> </h4>
    @Html.TextAreaFor(model => model.Content, new { @class = "textarea", style = "font-size: medium; font-weight: bold; width:600px; height: 200px; resize:none" })
    <p>
        <input class="btn btn-primary btn-sm" type="submit" value="Add" />
    </p>
}
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
